body {
    background-color: white;
}

h1 {
    background-color: yellow;
    text-align: horizontal;
    width: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 75px;
    float: left;

}

h2 {
    clear: left;
}